<%= simple_form_for(@admin_usuario) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.input :nome %>
  </fieldset>
  <fieldset>
    <%= f.input :email %>
  </fieldset>
  <fieldset>
    <%= f.input :senha %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
