<h1>Listing admin_usuarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Senha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_usuarios.each do |admin_usuario| %>
  <tr>
    <td><%= admin_usuario.nome %></td>
    <td><%= admin_usuario.email %></td>
    <td><%= admin_usuario.senha %></td>
    <td><%= link_to 'Show', admin_usuario %></td>
    <td><%= link_to 'Edit', edit_admin_usuario_path(admin_usuario) %></td>
    <td><%= link_to 'Destroy', admin_usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usuario', new_admin_usuario_path %>
