<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @admin_usuario.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @admin_usuario.email %>
</p>

<p>
  <b>Senha:</b>
  <%= @admin_usuario.senha %>
</p>


<%= link_to 'Edit', edit_admin_usuario_path(@admin_usuario) %> |
<%= link_to 'Back', admin_usuarios_path %>
