<%
title 'Central de Vendas'
breadcrumbs([
  {:text => 'Central de Vendas'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de pedidos</h3>
    
  </header>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Identificação do cliente</th> 
        <th class="header">Código no pagseguro</th> 
        <th class="header">Código interno</th>
        <th class="header">Data da última atualização</th>
        <th class="header"></th>
      </tr> 
    </thead> 
    <tbody> 
      <% @pedidos.each do |pedido| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td>
        	<%= pedido.nome %>
        </td> 
        <td><%= pedido.pagseguro_id %></td> 
        <td>#<%= pedido.id %> - <%= pedido.status %></td>
        <td><%= l pedido.updated_at, :format => :long %></td>
        <td><%= link_to 'Mais informações', admin_pedido_path(pedido), :target => "_blank" %></td>
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
</article>
