<p id="notice"><%= notice %></p>

<p>
  <b>Imagem:</b>
  <%= @admin_banner.imagem %>
</p>

<p>
  <b>Descricao:</b>
  <%= @admin_banner.descricao %>
</p>

<p>
  <b>Url:</b>
  <%= @admin_banner.url %>
</p>


<%= link_to 'Edit', edit_admin_banner_path(@admin_banner) %> |
<%= link_to 'Back', admin_banners_path %>
