<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb_inner">
    <%= link_to 'Início', root_path %><span class="navigation-pipe">&gt;</span><span class="navigation_end"><%= @pagina.titulo %></span>
  </div>
</div>
<!-- /Breadcrumb -->

<h1><%= @pagina.titulo %></h1>
<br /><br />
<div class="institucionais">
<%= @pagina.conteudo.html_safe %>
</div>
<% if @pagina.id == 5 && !@galerias.blank? %>
<br /><br />
<iframe width="694" height="355" src="http://www.youtube.com/embed/lJo4RY5TJqM" frameborder="0" allowfullscreen></iframe>
<div id="featured-products_block_center" style="margin-top:20px">
  <div class="block_content">



    <ul>
<% @galerias.each do |galeria| %>
      <li class="ajax_block_product" style="background-color:#fff;height:270px;margin-bottom:10px">
        <a class="product_image" href="<%=galeria_path(galeria)%>" title="<%=galeria.nome%>" style="height:auto;background:none">
          <%=image_tag galeria.capa.url(:medium) if galeria.capa %>
        </a>
        <div>
        <h5><a class="product_link" href="<%=galeria_path(galeria)%>" style="font:12px 'Arial'" title="<%=galeria.nome%>"><%=galeria.nome%></a></h5>
        </div>
    </li>
<% end -%>
    </ul>
  </div>
</div>
<% end -%>
