<%= simple_form_for([:admin,@admin_galeria], :html => {:multipart => true}) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.input :nome %>
  </fieldset>
  <fieldset>
    <%= f.label :conteudo %>
  </fieldset>
  <%= f.text_area :conteudo, :rows => 15, :cols => '100%', :class => 'mceEditor' %>

  <h2>Imagens</h2>
  <% @admin_galeria.imagem_galerias.count.upto(@admin_galeria.imagem_galerias.count+4) do %>
    <% @imagem_galeria = ImagemGaleria.new %>
    <%=f.fields_for :imagem_galerias, @imagem_galeria, :child_index => @imagem_galeria.object_id do |fi| %>
    <fieldset>
      <%=fi.input :img_galeria %>
    </fieldset>
    <% end -%>
  <% end -%>
  
  
    <% @admin_galeria.imagem_galerias.each do |imagem_galeria| %>
    <div style="float: left; text-align: center;padding:5px; margin:4px; border:1px solid #ccc">
      <%=image_tag imagem_galeria.img_galeria.url(:thumb)%><br />
      <%=link_to 'Remover', admin_galeria_imagem_galeria_path(@admin_galeria,imagem_galeria), :method => :delete, :confirm => 'Deseja remover?' %>
    </div>
    <% end -%>
    <div style="clear: both"></div>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
