<%
title 'Galerias - Novo Galeria'
breadcrumbs([
  {:text => 'Galerias', :url => admin_galerias_path},
  {:text => 'Alterando Galeria'},
])
%>
<article class="module width_full">
  <header><h3>Alterando Galeria</h3></header>
  <%= render 'form' %>
</article>
