<%
title 'Lista de galerias'
breadcrumbs([
  {:text => 'Lista de galerias'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de galerias </h3>
    
  </header>
  <%=button_new('Criar galeria',new_admin_galeria_path)%>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th width="100"></th>
        <th class="header">Nome</th> 
        <th class="header">Quantidade de fotos</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @admin_galerias.each do |admin_galeria| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= image_tag admin_galeria.capa.url(:thumb) if admin_galeria.capa %></td>
        <td><%= admin_galeria.nome %></td> 
        <td><%= admin_galeria.imagem_galerias.count %></td> 
        <td><%= actions_common(admin_galeria)%></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
  <%=will_paginate @admin_galerias%>
</article>
