<%= simple_form_for([:admin, @admin_parametro]) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.input :taxa_embalagem, :input_html => {:type => :text, :value => f.object.taxa_embalagem.to_f.real_contabil} %>
  </fieldset>
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
<script type="text/javascript">
$(function(){
  $('#parametro_taxa_embalagem').maskMoney({symbol:'R$',decimal:',',thousands:'.'});
})
</script>