<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb_inner">
    <%= link_to 'Início', root_path %><span class="navigation-pipe">&gt;</span><span class="navigation_end">Carrinho de compras</span>
  </div>
</div>
<!-- /Breadcrumb -->

<h1>Carrinho de compras</h1>

<div id="order-detail-content" class="table_block">
	<table id="cart_summary" class="std">
		<thead>
			<tr>
				<th class="cart_product first_item">Produto</th>
				<th class="cart_description item">Descrição</th>
				<th class="cart_unit item">Preço unitário</th>
				<th class="cart_quantity item">Quantidade</th>
				<th class="cart_total last_item">Total</th>
			</tr>
		</thead>
		<tfoot>
			<tr class="cart_total_price">
				<td colspan="4">
						Sub-Total
				</td>
				<td class="price" id="total_price"><span class="price"><%= sub_total_compra.real_contabil %></span></td>
			</tr>
			<tr class="cart_total_price">
				<td colspan="4">
						Taxa de envio
				</td>
				<td class="price" id="total_price"><span class="price"><%= taxa_embalagem.real_contabil %></span></td>
			</tr>
			<tr class="cart_total_price">
				<td colspan="4">
						Total
				</td>
				<td class="price" id="total_price"><span class="price"><%= total_compra.real_contabil %></span></td>
			</tr>
		</tfoot>
		<tbody>
		<% carrinho_usuario.each do |item| %>
			<tr id="product_<%=item[:id]%>" class=" cart_item">
				<td class="cart_product">
				  <%= link_to imagem_produto(item[:id]), produto_path(item[:id]) %>
				</td>
				<td class="cart_description">
					<h5><a class="product_link" href="<%= produto_path(item[:id])%>"><%= nome_produto(item[:id], false)%></a></h5>
				</td>
				<td class="cart_unit">
					<span class="price" id="product_price_3_0"><%= Produto.find(item[:id]).valor_ou_promocao.real_contabil %></span>
				</td>
				<td class="cart_quantity">
					<div id="cart_quantity_button">
						<a class="cart_quantity_up" href="<%= adicionar_carrinho_path(item[:id])%>" title="Adicionar"><%= image_tag "icon/quantity_up.png", :alt => "Adicionar" %></a>
							<input class="cart_quantity_input text" size="2" type="text" value="<%= item[:qtd] %>"  name="quantity_<%=item[:id]%>_0" />
						<a class="cart_quantity_down" href="<%= diminuir_carrinho_path(item[:id])%>" title="Diminuir"><%= image_tag "icon/quantity_down.png", :alt => "Diminuir" %></a>
					</div>
					  <%= link_to image_tag("icon/delete.gif", :alt => "Remover", :class => "icon"), remover_carrinho_path(item[:id]), :confirm => 'Deseja remover este item do carrinho?', :class => "cart_quantity_delete", :title => 'Remover' %>
						</td>
				<td class="cart_total">
					<span class="price" id="total_product_price_3_0"><%= preco_produto(item[:valor] * item[:qtd])%></span>
				</td>
			</tr>
    <% end %>
		</tbody>
		</table>
</div>

<div id="HOOK_SHOPPING_CART"></div>

<p class="cart_navigation">
<a href="<%= dados_cliente_path %>" class="exclusive" title="Avançar">Avançar &raquo;</a>
<a href="<%= root_path %>" class="button_large" title="Continuar comprando">&laquo; Continuar comprando</a>
</p>
