﻿/* —————————————————————————————— clear.css —————————————————————————————— */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea
{margin:0;padding:0;border:0;outline:0;font-size:12px;font-weight:normal;vertical-align:top;background:transparent;outline:none;}
b {font-weight:bold;}
i {font-style:italic;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
table {border-collapse:collapse;border-spacing:0;}
a, span {vertical-align:baseline;}
img {vertical-align:top;text-decoration:none;}





/* —————————————————————————————— general styles —————————————————————————————— */
html, body {width:100%;height:100%;}
body {font:normal 12px "Arial", Arial, Helvetica, sans-serif;color:#777;}

.bold {font-weight:bold;}
.strike {text-decoration:line-through;}
.clear {clear:both;}
br.clear {height:0;clear:both;overflow:hidden;font-size:0;line-height:0;}
noscript ul {list-style-type:none;background:black;color:white;padding:10px;}

.clearfix:after {clear:both;display:block;height:0;font-size:0;visibility:hidden;content:".";}
.clearblock {height:0;clear:both;overflow:hidden;font-size:0;line-height:0;}

.hidden,
.collapsed,
.block_hidden_only_for_screen {display:none;}

.center_column p {padding-top:12px;color:#777;}
.center_column a {color:#7a5946;text-decoration:underline;}
.center_column a:hover {text-decoration:none;}

#center_column h1 {padding:10px 0 10px 0;background:url(/images/block_border.png) 0 bottom repeat-x;font-family: 'Actor', sans-serif;font-size:25px;color:#7a5946;}
#center_column h1 span {margin-left:15px;font:normal 12px "Arial";color:#777;text-transform:none;}

.center_column h2,
.center_column h3,
.center_column h4 {padding:14px 0 0 0;font-size:12px;font-weight:bold;color:#7a5946;text-transform:uppercase;}

a.product_link {font:bold 12px "Arial";color:#7a5946;text-decoration:none;text-transform:none !important;}
a.product_link:hover {color:#b16e3f;}

a.product_descr {font:12px "Arial";color:#777;text-decoration:none;text-transform:none !important;}
a.product_descr:hover {color:#b16e3f;}

/* ON SALE and DISCOUNT states */
span.on_sale,
span.discount {font:bold 11px "Arial";color:#512623;text-transform:uppercase;}

/* prices display style */
table#cart_summary td.price,
.center_column span.price {font-weight:bold;color:#b57442;}

/* instant search */
#old_center_column {display:none;}
#instant_search_results a {margin-left:20px;text-transform:none;color:#000;}
div.instant_search_results {}

/* footer links */
ul.footer_links {height:16px;clear:both;padding:30px 0 0 0;}
ul.footer_links li {height:16px;float:left;margin:0 25px 0 0;}
ul.footer_links li a {line-height:17px;color:#7a5946;text-decoration:none;}
ul.footer_links li a:hover {color:#b57442;}
ul.footer_links li img.icon {margin:0 5px 0 0;}

/* id_state field in managed via JS and is firstly hidden */
form p.id_state {display:none;}

/* errors */
div.error {border:2px solid #da0f00;background:#f5f5f5;margin:12px 0 0 0;padding:10px;}
div.error p {padding:0;font-weight:bold;color:#000;}
div.error ol {padding:0 0 3px 0;}
div.error li {list-style-position:inside;list-style-type:decimal;margin:10px 0;color:#da0f00;}

/* warning */
p.warning {background:#f8e1a0;margin:12px 0 0 0;padding:10px 13px;font-weight:bold;color:#000;}
.warning_inline {color:#da0f00;font-weight:bold;}

/* success */
p.success {border:2px solid #5eb569;background:#f1f2f4;margin:12px 0 0 0;padding:10px 13px;font-weight:bold;color:#3eab4c;}
.success_inline {color:green;font-weight:bold;}

/* confirmation */
p.confirmation {color:#33a33b;font-weight:bold;}





/* —————————————————————————————— layout —————————————————————————————— */
#wrapper1 {min-width:980px;min-height:100%;background:url(/images/bg_pattern.jpg);}
#wrapper2 {height:100%;background:url(/images/bg_top.jpg) 0 -12px repeat-x;}
#wrapper3 {width:940px;margin:0 auto;text-align:left;}

#columns {float:left;padding:20px 0 0 0;}
body#index #columns {padding:48px 0 0 0;}

#center_column {width:700px;float:left;margin:0 0 30px 0;}
body#index #center_column {margin:0 0 20px 0;}

#right_column {width:220px;float:left;margin:0 0 0 20px;}





/* ——————————————————————————————————— rte ——————————————————————————————————— */
body#cms div.content_only {padding:0 20px 20px 20px;background:#fff;color:#000;text-align:left;}

body#cms div.content_only h1 {padding:14px 0 0 0;font:normal 18px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h2 {padding:14px 0 0 0;font:bold 14px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h3 {padding:14px 0 0 0;font:bold 12px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h4,
body#cms div.content_only h5,
body#cms div.content_only h6 {padding:14px 0 0 0;font:normal 12px "Arial";color:#777;text-transform:uppercase;}

body#cms div.content_only p {padding-top:12px;font:normal 12px "Arial";color:#000;}
body#cms div.content_only a {font:normal 12px "Arial";color:#0753b4;text-decoration:none;}
body#cms div.content_only a:hover {color:#000;}

body#cms div.content_only ul {list-style-type:circle;list-style-position:inside;}
body#cms div.content_only ol {list-style-type:decimal;list-style-position:inside;}

div.rte strong {font-weight:bold;}
div.rte em {font-style:italic;}

div.rte table {border-collapse:separate;border-spacing:1px;width:auto;}

div.rte ul {list-style-type:disc;list-style-position:inside;}
div.rte ol {list-style-type:decimal;list-style-position:inside;}

div.rte caption,
div.rte th,
div.rte td,
div.rte table {text-align:left;font-weight:normal;background:none;height:inherit;border:1px #eee solid;font:normal 12px "Arial";color:#000;text-align:center;}

div.rte th {height:24px;padding:0 7px;background:#eee;font-weight:bold;}





/* ——————————————————————————————————— mce ——————————————————————————————————— */
.mceContentBody {width:556px;margin:9px 6px;background:#fff;font:normal 12px "Arial";color:#000;text-align:left;}
body.mceContentBody {background-image:none;}

.mceContentBody html, .mceContentBody div, .mceContentBody span, .mceContentBody applet, .mceContentBody object, .mceContentBody iframe, .mceContentBody h1,
.mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6, .mceContentBody p, .mceContentBody blockquote,
.mceContentBody pre, .mceContentBody a, .mceContentBody abbr, .mceContentBody acronym, .mceContentBody address, .mceContentBody big, .mceContentBody cite,
.mceContentBody code, .mceContentBody del, .mceContentBody dfn, .mceContentBody em, .mceContentBody font, .mceContentBody img, .mceContentBody ins,
.mceContentBody kbd, .mceContentBody q, .mceContentBody s, .mceContentBody samp, .mceContentBody small, .mceContentBody strike, .mceContentBody strong,
.mceContentBody sub, .mceContentBody sup, .mceContentBody tt, .mceContentBody var, .mceContentBody dl, .mceContentBody dt, .mceContentBody dd,
.mceContentBody ol, .mceContentBody ul, .mceContentBody li, .mceContentBody fieldset, .mceContentBody form, .mceContentBody label, .mceContentBody legend,
.mceContentBody table, .mceContentBody caption, .mceContentBody tbody, .mceContentBody tfoot, .mceContentBody thead, .mceContentBody tr, .mceContentBody th,
.mceContentBody td {
margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;
}

.mceContentBody h1 {padding:14px 0 0 0;font:normal 18px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h2 {padding:14px 0 0 0;font:bold 14px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h3 {padding:14px 0 0 0;font:bold 12px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {padding:14px 0 0 0;font:normal 12px "Arial";color:#777;text-transform:uppercase;}

.mceContentBody p {margin:7px;font:normal 12px "Arial";color:#000;}
.mceContentBody a {font:normal 12px "Arial";color:#0753b4;text-decoration:underline;}

.mceContentBody ul {list-style-type:circle;list-style-position:inside;}
.mceContentBody ol {list-style-type:decimal;list-style-position:inside;}

.mceContentBody strong {font-weight:bold;}
.mceContentBody em {font-style:italic;}

.mceContentBody table {border-collapse:separate;border-spacing:1px;width:auto;}

.mceContentBody caption,
.mceContentBody th,
.mceContentBody td,
.mceContentBody table {text-align:left;font-weight:normal;background:none;height:inherit;border:1px #eee solid;font:normal 12px "Arial";color:#000;text-align:center;}

.mceContentBody th {height:24px;padding:0 7px;background:#eee;font-weight:bold;}





/* —————————————————————————————— buttons —————————————————————————————— */
/*
   -tags: input, a, span
   -sizes: mini, small, normal, large
   -types: button, exlusive
   -status: normal, hover, disabled
   -rule: the span.button is a a.button disabled
*/

/* global button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large 
{height:38px !important;display:block;background-image:url(/images/bttns.png);background-repeat:no-repeat;border:none;font:bold 12px "Arial" !important;color:#fff !important;text-align:center;text-decoration:none;cursor:pointer;}

/* link/span button */
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {line-height:37px !important;}

/* firefox padding fix for input tag */
@-moz-document url-prefix() {
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled
{padding-bottom:3px;}
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {cursor:default;color:#ccc !important;}

/* all buttons */
input.button_mini, input.button_mini_disabled, a.button_mini, span.button_mini,
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini {width:70px;background-position:0 0;}

input.button_mini:hover, a.button_mini:hover,
input.exclusive_mini:hover, a.exclusive_mini:hover {background-position:0 -152px;text-decoration:none !important;}

input.button_small, input.button_small_disabled, a.button_small, span.button_small,
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small {width:100px;background-position:0 -38px;}

input.button_small:hover, a.button_small:hover,
input.exclusive_small:hover, a.exclusive_small:hover {background-position:0 -190px;text-decoration:none !important;}

input.button, input.button_disabled, a.button, span.button,
input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive {width:140px;background-position:0 -76px;}

input.button:hover, a.button:hover,
input.exclusive:hover, a.exclusive:hover {background-position:0 -228px;text-decoration:none !important;}

input.button_large, input.button_large_disabled, a.button_large, span.button_large,
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large {width:200px;background-position:0 -114px;}

input.button_large:hover, a.button_large:hover,
input.exclusive_large:hover, a.exclusive_large:hover {background-position:0 -266px;text-decoration:none !important;}





/* —————————————————————————————— global table styles —————————————————————————————— */
div.table_block {padding:17px 0 0 0;}
table.std {width:100%;}

table.std td,
table.std th {padding:7px;vertical-align:middle;}

table.std tr.item td,
table.std tr.item th {}

table.std tr.alternate_item td,
table.std tr.alternate_item th {}

table.std tbody tr td,
table.std tfoot tr td {border-bottom:2px solid #7a5946;}

table.std th {height:25px;padding:0 7px;background:#7a5946;font-weight:bold;color:#fff;text-align:left;white-space:nowrap;}
table.std tfoot td {color:#7a5946;text-align:right;white-space:nowrap;}





/* —————————————————————————————— global form styles —————————————————————————————— */
form.std {clear:both;}
form.std h3 {padding:14px 5px 5px 0;border-bottom:2px solid #7a5946;}

form.std fieldset {border:none;}

form.std h4,
form.std p {padding:12px 0 0 0;clear:both;}

/* global form styles */
input[type=text],
input[type=password],
input[type=file],
textarea,
select {background:#fff;border:1px solid #bdc2c9;font:normal 12px "Arial";color:#555; height:22px;}

/* form labels */
form.std .text label,
form.std .password label,
form.std .textarea label,
form.std .select label,
form.std .select span,
form.std .radio span,
form.std .checkbox span {float:left;text-align:right;width:150px;padding:2px 7px 0 0;}

form.std .text label,
form.std .text span,
form.std .password label,
form.std .password span,
form.std .textarea label,
form.std .textarea span,
form.std .select label,
form.std .select span,
form.std .radio label,
form.std .radio span,
form.std .checkbox label,
form.std .checkbox span {font:normal 12px "Arial";color:#555;}

form.std span.inline-infos {display:block;padding:2px 0 0 157px;font:normal 11px "Arial";color:#555;}

span.editable {font:normal 12px/19px "Arial";color:#555;}

/* selects */
select {height:22px;}
form.std p.select select {width:210px;}

select#days {width:45px;margin:0 8px 0 0;}
select#months {width:85px;margin:0 8px 0 0;}
select#years {width:58px;}

/* text inputs */
input.text {height:15px;padding:1px;}

p.text input,
p.password input {width:206px;height:15px;padding:1px;}

/* textarea */
textarea {padding:1px;}

/* radio & checkboxes */
form.std p.checkbox,
form.std p.radio {overflow:hidden;}

form.std p.checkbox {padding-left:157px;}

.checkbox input {background:none;border:none;margin:1px 0 0 0;}
.radio input {background:none;border:none;margin:3px 0 0 0;}

*+html p.checkbox input {margin:-2px 0 0 -4px;}
*+html p.radio input {margin:0 0 0 -4px;}

.checkbox label,
.radio label {width:auto;padding:0 0 0 3px;}

/* submit */
form.std p.submit {padding:20px 0 0 157px;}

form.std p.submit a,
form.std p.submit input {margin-left:-5px;}

/* required state */
form.std .required sup {vertical-align:top;font:normal 13px "Tahoma";color:#da0f00;}
form.std .required_desc {padding-left:157px;}




/* —————————————————————————————— header styles —————————————————————————————— */
#header {padding:176px 0 0 0;background:;position:relative;z-index:100;zoom:1;}

#header_logo {width:325px;height:143px;display:block;position:absolute;left:-14px;top:35px;}


/* ————— blocksearch-top.tpl ————— */
#search_block_top {position:absolute;right:0px;top:142px;}

#search_block_top label {display:block;float:left;padding:3px 1px 0 0;}
#search_block_top input.search_query {width:168px;height:22px;padding:0 10px;float:left;background:url(/images/search_form.png) 0 0 no-repeat;border:none;font:11px "Arial";color:#bea594;line-height:22px;}
#search_block_top a {width:23px;height:0;margin:0 0 0 3px;padding:22px 0 0 0;display:block;overflow:hidden;float:left;background:url(/images/search_btn.png) 0 0 no-repeat;}


/* ————— blocklanguages.tpl ————— */
#languages_block_top {position:absolute;right:-85px;top:0;}
#languages_block_top ul#first-languages li {width:37px;height:51px;float:left;}
#languages_block_top ul#first-languages li + li {margin:0 0 0 7px;}
#languages_block_top ul#first-languages li img {margin:-24px 0 0 0;}
#languages_block_top ul#first-languages li:hover img {}
#languages_block_top ul#first-languages li.selected_language img {margin:0;}


/* ————— blockcurrencies.tpl ————— */
#currencies_block_top {position:absolute;right:52px;top:5px;}
#currencies_block_top label {display:block;float:left;padding:3px 6px 0 0;color:#fff;}
#currencies_block_top select {width:108px;height:22px;padding:2px;background:#fffcf8;border:1px solid #543e30;font:11px "Arial";color:#bea594;}


/* ————— blockuserinfo.tpl ————— */
#header_user {position:absolute;right:0;top:30px;}

#header_user ul {height:74px;background:url(/images/header_user.png) right 0 no-repeat;}

#header_user ul li#header_user_info {float:left;padding:30px 11px 0 0;color:#7a5946;}
#header_user ul li#header_user_info a {color:#7a5946;text-decoration:none;text-transform:lowercase;}
#header_user ul li#header_user_info a:hover {text-decoration:underline;}
#header_user ul li#header_user_info span {font-weight:bold;color:#7a5946;}

#header_user ul li#your_account {width:109px;float:left;padding:30px 0 0 11px;text-align:center;}
#header_user ul li#your_account a {color:#fff;text-decoration:none;}
#header_user ul li#your_account a:hover {text-decoration:underline;}

#header_user ul li#shopping_cart {width:68px;float:left;padding:17px 13px 0 0;text-align:center;}
#header_user ul li#shopping_cart a {text-decoration:none;zoom:1;}
#header_user ul li#shopping_cart a span {font-family: 'Actor', sans-serif;font-size:32px;font-weight:400;font-style:italic;color:#3c302a;text-decoration:none;zoom:1;}
#header_user ul li#shopping_cart a:hover span {color:#b57442;}


/* ————— tmheaderlinks.tpl ————— */
#header_links {position:absolute;right:0;top:110px;}
#header_links li {float:left;padding:0 0 0 28px;}
#header_links li a {padding:0 0 0 16px;background:url(/images/header_link.png) 0 5px no-repeat;font-family:'Oswald', sans-serif;font-size:12px;color:#7a5946;text-decoration:none;text-transform:uppercase;}

#header_links li a:hover {color:#3c302a;}


/* ————— tmcategories.tpl ————— */
#tmcategories {width:940px;height:99px;margin:0 0 0 -20px;padding:0 20px;background:url(/images/tmcategories_bg.png) 0 bottom no-repeat;}
#cat {}
#cat > li {float:left;padding:0 10px 0 0;position:relative;z-index:100;}
#cat > li + li {padding:0 10px 0 11px;background:url(/images/tmcategories_sep.png) 0 0 no-repeat;}
*+html #cat > li + li {padding:0 8px 0 9px;}
#cat > li > a {height:43px;display:block;padding:0 0 0 9px;text-decoration:none;text-transform:uppercase;}
#cat > li > a > span {height:35px;display:block;padding:8px 9px 0 0;font-family:'Oswald', sans-serif;font-size:16px;color:#7a5946;cursor:pointer;}

#cat > li:hover > a,
#cat > li > a.selected  {background:url(/images/tmcategories_item.png) 0 0 no-repeat;}

#cat > li:hover > a > span,
#cat > li > a.selected > span {background:url(/images/tmcategories_item.png) right 0 no-repeat;color:#3c302a;}

#cat li ul.subcat {width:220px;padding:0 0 18px 0;background:url(/images/tmcategories_sub_bottom.png) 0 bottom no-repeat;position:absolute;left:-5px;top:43px;display:none;}
#cat li:hover ul.subcat {display:block;z-index:1000;}

#cat ul.subcat li {padding:18px 25px 0 25px;background:url(/images/tmcategories_sub_top.png) 0 0 no-repeat;zoom:1;}
#cat ul.subcat li + li {padding:0 25px;background:url(/images/tmcategories_sub_mid.png) 0 0 repeat-y;}

#cat ul.subcat li a {display:block;padding:5px 0 6px 0;text-decoration:none;}
#cat ul.subcat li + li a {border-top:1px dashed #1e1815;}

#cat ul.subcat li a span {color:#c6a37e;}

#cat ul.subcat li a:hover span,
#cat ul.subcat li a.selected span {color:#fefefe;}

/* ————— piscesslider.tpl ————— */
div#slide_wrapper {width:940px;height:262px;margin:0 0 0 -81px;padding:20px 0 0 51px;}
div#slide_holder {width:940px;height:258px;padding:0 30px;overflow:hidden;}
div#slider {width:940px;height:258px;}

.nivoSlider {position:relative;}
.nivoSlider img {position:absolute;top:0px;left:0px;}
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none;}

.nivo-slice {display:block;position:absolute;z-index:50;height:100%;}

.nivo-directionNav a {width:60px;height:0;display:block;padding:60px 0 0 0;overflow:hidden;background-image:url(/images/slider_nav.png);background-repeat:no-repeat;position:absolute;top:103px;z-index:99;cursor:pointer;}
.nivo-prevNav {left:-25px;background-position:0 0;}
.nivo-prevNav:hover {background-position:0 -120px;}
.nivo-nextNav {right:-25px;background-position:0 -60px;}
.nivo-nextNav:hover {background-position:0 -180px;}


/* ————— editorial.tpl ————— */
#editorial {margin:25px 0 0 0;background:url(/images/editorial_line.png) 0 0 repeat-x;}
#editorial > div {background:url(/images/editorial_line.png) 0 bottom repeat-x;zoom:1;}
#editorial h1 {width:560px;float:left;padding:2px 0 6px 0;font-family: 'Actor', sans-serif;font-size:26px;color:#7a5946;}
#editorial .rte {width:755px;float:right;padding:31px 0 0 0;color:#7a5946;line-height:20px;}





/* —————————————————————————————— left && right column blocks styles —————————————————————————————— */
/* ————— general block styles ————— */
div.column {}
div.column a {color:#7a5946;text-decoration:none;}
div.column a:hover {color:#b16e3f;}

div.column > div {}

div.column div.block h4 {padding:17px 0 15px 15px;background:url(/images/block_border.png) 0 bottom repeat-x;font-family: 'Actor', sans-serif;font-size:25px;color:#7a5946;zoom:1;}
div.column div.block h4 a {font-family: 'Actor', sans-serif;font-size:25px;}

div.column div.block .block_content {padding:0 30px 30px 30px;zoom:1;}

div.column div.block ul.bullet {padding-top:5px;}
div.column div.block ul.bullet li {padding:4px 0 0 12px;background:url(/images/bullet.gif) 0 8px no-repeat;}


/* ————— blockcart.tpl ————— */
#cart_block {padding:0 0 12px 0;background:url(/images/block_cart_bottom.png) 0 bottom no-repeat;}

#cart_block .block_content {padding:0 30px 14px 30px;background:url(/images/block_cart_mid.png) 0 0 repeat-y;}

#cart_block h4 {height:43px;padding:9px 0 0 15px;background:url(/images/block_cart_top.png) 0 0 no-repeat;}
#cart_block h4 span {margin:0 0 0 5px;padding:0 0 0 10px;cursor:pointer;}
#cart_block h4 span#block_cart_collapse {background:url(/images/icon/sort_asc.gif) 0 3px no-repeat;zoom:1;}
#cart_block h4 span#block_cart_expand {background:url(/images/icon/sort_desc.gif) 0 3px no-repeat;zoom:1;}

#cart_block #cart_block_no_products {padding:27px 0 8px 1px;font-weight:bold;color:#b57442;}

#cart_block #cart_block_summary {padding:23px 0 0 0;}
#cart_block #cart_block_summary span {zoom:1;}
#cart_block #cart_block_summary span.ajax_cart_total {margin:0 0 0 5px;font-weight:bold;}

#cart_block dl {padding:20px 0 8px 0;}
#cart_block dl dt {height:15px;padding:7px 0 0 0;clear:both;}
#cart_block dl dd {clear:both;}

#cart_block span.quantity-formated {padding:0 2px 0 0;float:left;font:normal 10px/17px "Arial";letter-spacing:1px;}
#cart_block span.quantity-formated span.quantity {font-size:10px;}

#cart_block dl a {text-decoration:underline;}
#cart_block dl a:hover {text-decoration:none;}
#cart_block dl dt a {float:left;}
#cart_block dl dt span.price {font-weight:bold;float:right;color:#7a5944;}
#cart_block dl dd a {padding:0 0 0 14px;font-size:11px;font-style:italic;}

#cart_block a.ajax_cart_block_remove_link {width:11px;height:13px;margin:0 0 0 5px;float:right;font-size:0;display:block;background:url(/images/icon/delete.gif) 0 bottom no-repeat;}
#cart_block a.ajax_cart_block_remove_link:hover {text-decoration:none;}

#cart_block table#vouchers {width:100%;margin:0 0 17px 0;}
#cart_block table#vouchers tr td.price {font-weight:bold;text-align:right;}
#cart_block table#vouchers tr td.delete {width:16px;text-align:right;}
#cart_block table#vouchers tr td.delete a {width:11px;height:13px;font-size:0;display:block;float:right;background:url(/images/icon/delete.gif) 0 bottom no-repeat;}
#cart_block table#vouchers tr td.delete a img {display:none;}

#cart_block ul.cart_block_customizations {padding:0 0 0 13px;}
#cart_block ul.cart_block_customizations li {font:11px/15px "Arial";}
#cart_block ul.cart_block_customizations div.deleteCustomizableProduct {width:11px;float:right;}
#cart_block ul.cart_block_customizations div.deleteCustomizableProduct a {float:right;margin:0;padding:0;font-size:0;}

#cart_block div.cart-prices {border-top:1px solid #d0c9be;}
#cart_block div.cart-prices div.cart-prices-block {height:29px;background:#f6f6f2;border:1px solid #d0c9be;border-top:none;}
#cart_block div.cart-prices span {float:left;padding:7px 0 0 9px;color:#7a5944;}

#cart_block div.cart-prices span#cart_block_shipping_cost,
#cart_block div.cart-prices span#cart_block_total,
#cart_block div.cart-prices span#cart_block_wrapping_cost,
#cart_block div.cart-prices span#cart_block_tax_cost {float:right;padding:7px 9px 0 0;font-weight:bold;}

#cart_block p#cart-price-precisions {padding:6px 0 0 1px;font-weight:bold;color:#b57442;}

#cart_block p#cart-buttons {margin:0 0 0 -5px;padding:13px 0 0 0;overflow:hidden;}
#cart_block p#cart-buttons a.button {margin:;}
#cart_block p#cart-buttons a.exclusive {}
#cart_block p#cart-buttons a.exclusive_large {}


/* ————— tmbestsellers.tpl ————— */
#tmbestsellers {}
#tmbestsellers .block_content {padding:0 15px 30px 30px;}
#tmbestsellers ul {padding:8px 0 0 0;}
#tmbestsellers ul li {padding:18px 0 0 0;}
#tmbestsellers ul li a span {color:#b16e3f;margin:0 5px 0 0;}


/* ————— blocktags.tpl ————— */
#tags_block_left p.block_content {text-align:justify;padding-top:10px;}
#tags_block_left p.block_content a {margin:0 3px 0 0;line-height:20px;}
#tags_block_left p.block_content a:hover {color:#fff;background:#7a5946;text-decoration:none;}
a.tag_level1 {font-size:13px;}
a.tag_level2 {font-size:15px;}
a.tag_level3 {font-size:17px;font-weight:bold;}


/* ————— blockmyaccount.tpl ————— */
div.column div.myaccount p.logout {padding:4px 0 0 12px;}
div.column div.myaccount p.logout a {font-weight:bold;}


/* ————— blocknewsletter.tpl ————— */
#newsletter_block_left div.block_content {padding-top:5px;}
#newsletter_block_left input {width:160px;height:17px;margin:10px 0 0 0;}
#newsletter_block_left select {width:162px;margin:10px 0 0 0;}
#newsletter_block_left input.button_mini {width:70px;margin:5px 0 0 -5px;text-transform:capitalize;}


/* ————— blockmanufacturer.tpl && blocksupplier.tpl ————— */
.blockmanufacturer select,
.blocksupplier select {width:160px;margin:8px 0 0 0;}


/* ————— blocklink.tpl ————— */


/* ————— blockrss.tpl ————— */
#rss_block_left ul {padding-top:5px;}
#rss_block_left ul li {padding:4px 0 0 12px;background:url(/images/bullet.gif) 0 8px no-repeat;}


/* ————— blockadvertising.tpl ————— */
.advertising_block {padding:0 30px 30px 30px;}


/* ————— blockpaymentlogo.tpl ————— */
div.paiement_logo_block {padding:0 30px 30px 30px;}
div.paiement_logo_block a {text-decoration:none;}
div.paiement_logo_block img + img {margin:0 0 0 11px;}


/* block products (new products, top sellers, viewed products) on left and right column */
.products_block ul {padding-top:10px;}
.products_block ul li {margin:0 0 10px 0;}

.products_block h5 a,
.products_block dl dt a {font-weight:bold;}

.products_block dl {clear:both;padding:2px 0 0 0;border-top:1px solid #ccc;}
.products_block dl dt {margin:9px 0 0 0;}
.products_block dl dd a {font-size:11px;}
.products_block dl dd a img {margin:5px 0 0 0;}

.products_block p a.button_large {width:;margin:12px 0 0 -5px;color:#fff;}


/* ————— blockspecials.tpl ————— */
#special_block_right ul li {margin:0;}

#special_block_right h5 {padding:12px 0 9px 0;}
#special_block_right h5 a {}

#special_block_right span.price-discount {text-decoration:line-through;}
#special_block_right span.price {font-weight:bold;}


/* ————— blocknewproducts.tpl ————— */


/* ————— blockbestsellers.tpl ————— */


/* ————— blockviewed.tpl ————— */
#viewed-products_block_left ul li.last_item {margin:0;}
#viewed-products_block_left h5 {padding:5px 0 0 0;}
#viewed-products_block_left h5 a {font-weight:bold;}
#viewed-products_block_left p {font-size:11px;}
#viewed-products_block_left p img {margin:4px 0 0 4px;}


/* ————— blockstore.tpl ————— */
#stores_block_left div.block_content {padding-top:12px;}
#stores_block_left p {text-align:left;}
#stores_block_left p a img {margin:0 0 10px 0;}





/* —————————————————————————————— center column styles —————————————————————————————— */
/* ————— breadcrumb.tpl ————— */
.breadcrumb {position:relative;}
.breadcrumb_inner {color:#7a5946;position:absolute;left:0;top:-20px;}

.breadcrumb .navigation_page,
.breadcrumb .navigation_end,
.breadcrumb .navigation_product {color:#7a5946;} 

.breadcrumb .navigation-pipe {padding:0 10px;font-size:9px;color:#7a5946;}

.breadcrumb a {color:#7a5946;text-decoration:none;}
.breadcrumb a:hover {color:#b57442;}





/* —————————————————————————————— product pages —————————————————————————————— */
/* ————— homefeatured.tpl ————— */
div#featured-products_block_center {}
div#featured-products_block_center ul {width:720px;overflow:hidden;}
div#featured-products_block_center ul li {width:220px;height:359px;float:left;margin:0 20px 0 0;}

div#featured-products_block_center ul li a.product_image {width:220px;height:243px;display:block;background:url(/images/product_home.png) 0 0 no-repeat;text-decoration:none;text-align:center;position:relative;}
div#featured-products_block_center ul li a.product_image img {margin:20px 0 0 0;border:1px solid #e8e4e1;}
div#featured-products_block_center ul li span.price {width:98px;height:36px;display:block;padding:20px 0 0 0;background:url(/images/price.png) 0 0 no-repeat;color:#fff;text-align:center;position:absolute;right:17px;bottom:37px;}

div#featured-products_block_center ul li h5 {height:35px;padding:13px 20px 0 20px;line-height:20px;}

div#featured-products_block_center ul li .exclusive {margin:15px 0 0 14px;}


/* ————— category.tpl ————— */
#subcategories ul {padding:17px 0 0 0;}
#subcategories ul li {float:left;margin-right:20px;text-align:center;}
#subcategories ul li a {text-decoration:none;}
#subcategories ul li a:hover {color:#b57442;}
#subcategories ul li a img {margin:0 0 7px 0;}

#categoryImage {}

div.cat_desc {padding:15px 0 0 0;}


/* ————— product-compare.tpl ————— */
form.product_compare {height:38px;margin:-5px 0;padding:30px 0 0 0;text-align:right;}
form.product_compare input {margin-right:-5px;}


/* ————— product-sort.tpl ————— */
form#productsSortForm {height:19px;padding:30px 0 0 0;}
form#productsSortForm label {display:block;float:right;padding:2px 7px 0 0;}
form#productsSortForm select {width:160px;height:19px;float:right;}


/* ————— product-list.tpl ————— */
ul#product_list {padding:30px 0 0 0;}
ul#product_list li {height:203px;margin:30px 0 0 0;}
ul#product_list li:first-child {margin:0;}

ul#product_list li a.product_img_link {width:179px;height:201px;display:block;float:left;border:1px solid #d0c9be;}

ul#product_list li div.center_block {width:340px;float:left;margin:0 0 0 20px;}

ul#product_list li div.center_block div.product_flags {height:26px;}
ul#product_list li div.center_block div.product_flags span {height:20px;display:block;float:left;padding:6px 10px 0 10px;background:#f6f6f2;font:bold 11px "Arial";text-transform:uppercase;}
ul#product_list li div.center_block div.product_flags span.new {margin:0 10px 0 0;color:#7a5946;}
ul#product_list li div.center_block div.product_flags span.availability {color:#777;}

ul#product_list li div.center_block h3 {padding:17px 0 0 0;}
ul#product_list li div.center_block .product_desc {padding:14px 0 0 0;}

ul#product_list li div.right_block {width:130px;float:right;}

ul#product_list li div.right_block span.on_sale,
ul#product_list li div.right_block span.discount {display:block;padding:6px 0 16px 0;}

ul#product_list li div.right_block span.price {display:block;padding:3px 0 0 0;font:bold 16px "Arial";}

ul#product_list li div.right_block .exclusive {margin:17px 0 0 -5px;}
ul#product_list li div.right_block .button {margin:0 0 0 -5px;}

ul#product_list li div.right_block p.compare {height:15px;padding:15px 0 0 0;}
*+html ul#product_list li div.right_block p.compare input {margin-right:-4px;}


/* ————— pagination.tpl ————— */
div.pagination {height:38px;padding:30px 0 0 0;}
ul.pagination {float:left;padding:11px 0 0 0;}
ul.pagination li {float:left;margin:0 5px;}

ul.pagination li a {color:#7a5946;text-decoration:none;}
ul.pagination li a:hover {color:#b57442;}

ul.pagination li.disabled span {color:#aaa;}
ul.pagination li.current span {font-weight:bold;color:#b57442;}

ul.pagination li#pagination_previous {text-transform:uppercase;margin:0 15px 0 0;}
ul.pagination li#pagination_next {text-transform:uppercase;margin:0 0 0 15px;}

form.pagination select {width:45px;height:20px;float:right;margin:9px 0 0 0;}
form.pagination label {display:block;float:right;padding:11px 5px 0 10px;}
form.pagination a {float:right;}

form.pagination input {display:none;}


/* ————— stores.tpl ————— */
div#stores_block p.text label {display:block;float:left;padding:2px 7px 0 0;}
div#stores_block p.text input {width:270px;height:15px;padding:1px;font:normal 12px "Arial";color:#555;}

div#stores_block p.select {padding:20px 0 0 0;}
div#stores_block p.select label {display:block;float:left;padding:2px 7px 0 0;}
div#stores_block p.select select {float:left;}
div#stores_block p.select span {display:block;float:left;padding:2px 7px 0 7px;}
div#stores_block p.select #stores_loader {margin:-2px 0 0 0;display:none;}

div#stores_block input.button {clear:both;margin:10px 0 0 0 !important;}

div#stores_block select#locationSelect {margin:20px 0;visibility:hidden;}

div#stores_block div#map {width:100%;height:400px;}

div#stores_block table#stores-table {margin:20px 0 0 0;display:none;}


/* ————— products-comparison.tpl ————— */
table#product_comparison {margin:17px 0 0 0;}

table#product_comparison h5 {height:30px;margin:0 20px 0 0;}

table#product_comparison p {padding-right:20px;}

table#product_comparison div.comparison_product_infos {padding:15px 0 0 0;}
table#product_comparison div.comparison_product_infos div.product_discount {padding:12px 0 0 0;height:15px;}
table#product_comparison div.comparison_product_infos a.cmp_remove {padding:0 0 0 15px;background:url(/images/icon/delete.gif) 0 2px no-repeat;color:#dd0000;text-decoration:none;}
table#product_comparison div.comparison_product_infos a.button {margin:15px 0 0 0;}
table#product_comparison div.comparison_product_infos .exclusive {margin:5px 0 0 0;}

table#product_comparison tr.empty td {height:20px;}

table#product_comparison tr.comparison_header td {padding:5px 0 5px 8px;background:#7a5946;font-weight:bold;color:#fff;}

table#product_comparison tr td.comparison_feature_odd,
table#product_comparison tr td.comparison_feature_even {padding:5px 0 5px 8px;font-weight:bold;color:#7a5946;}

table#product_comparison tr td.comparison_feature_odd {background:#f6f6f2;}

table#product_comparison tr td.comparison_infos {font-weight:normal;}





/* ————— product.tpl ————— */
#primary_block {}
#primary_block p.confirmation {}
#primary_block #pb-right-column {width:260px;float:left;padding:17px 0 0 0;}


/* product img */
#primary_block #image-block {width:260px;height:260px;}
#primary_block #image-block img#bigpic {width:260px;height:260px;cursor:pointer;}
#primary_block #image-block img#bigpic.jqzoom {cursor:crosshair;position:relative;}


/* views block */
#views_block {width:260px;}
#thumbs_list {}
#thumbs_list ul {width:270px !important;overflow:hidden;}
#thumbs_list li {width:80px;height:80px;float:left;cursor:pointer;margin:10px 10px 0 0;}
#thumbs_list li a img {width:80px;height:80px;}

span#wrapResetImages {display:none;}
span#wrapResetImages div {padding:12px 0 0 0;}


/* usefull links */
#primary_block ul#usefull_link_block {padding:11px 0 0 0;clear:both;overflow:hidden;}
#primary_block ul#usefull_link_block li {padding:7px 0 0 10px;background:url(/images/bullet_alt.gif) 0 11px no-repeat;}

#primary_block ul#usefull_link_block li a,
#primary_block ul#usefull_link_block span.span_link {text-decoration:underline;color:#7a5946;text-transform:uppercase;cursor:pointer;}

#primary_block ul#usefull_link_block li a:hover,
#primary_block ul#usefull_link_block span.span_link:hover {text-decoration:none;}





#primary_block #pb-left-column {width:415px;float:left;padding:17px 0 0 20px;}


/* short description */
#primary_block #short_description_block {}

#primary_block #short_description_content,
#primary_block #short_description_content p {padding:0;}


/* buttons */
#primary_block p.buttons_bottom_block {padding:0;}
#primary_block p.buttons_bottom_block a {margin:12px 0 0 -5px;}
#primary_block p.buttons_bottom_block input#add2cartbtn {display:none;}


/* pack items */
#primary_block #short_description_block h3 {padding:12px 0 5px 0;}
#primary_block #short_description_block .pack_content {padding:7px 0 0 0;font-size:10px;color:#777;}
#primary_block #short_description_block .pack_content p {padding:0;}


/* color picker */
#primary_block #color_picker {padding:7px 10px 10px 10px;background:#eee;margin:17px 0 0 0;}
#primary_block #color_picker p {padding:0;}
#primary_block #color_to_pick_list li {display:inline;float:left;margin:4px 7px 0 0;}

#primary_block a.color_pick {display:block;width:20px;height:20px;border:1px solid #666;cursor:pointer;}
#primary_block a.color_pick:hover {border:1px solid #000;}

#primary_block a#color_all {cursor:pointer;}


/* buy block */
#primary_block form#buy_block {padding:3px 0 0 0;}
#primary_block form#buy_block p {padding:0;}


/* price */
#primary_block form#buy_block span.on_sale,
#primary_block form#buy_block span.discount {display:block;margin:14px 0 0 0;}

#primary_block form#buy_block span.our_price_display {display:block;margin:18px 0 18px 0;}
#primary_block form#buy_block span#our_price_display {margin:0 3px 0 0;font:bold 16px "Arial";}


/* taxes & discounts */
#primary_block form#buy_block div#other_prices {margin:14px 0;}
#primary_block form#buy_block div#other_prices p {margin:2px 0 0 0;}

#primary_block form#buy_block p#old_price {color:#777;text-decoration:line-through;}
#primary_block form#buy_block p#reduction_percent {color:#777;}

#primary_block form#buy_block p.pack_price {color:#777;}
#primary_block form#buy_block p.price-ecotax {color:#229922;}


/* attributes */
div#attributes {}
div#attributes p {margin:14px 0;padding:3px 0 !important;}
div#attributes p label {float:left;text-align:right;padding:2px 7px 0 0;}


/* quantities */
#primary_block form#buy_block p#quantity_wanted_p {margin:14px 0;padding:3px 0;}
#primary_block form#buy_block p#quantity_wanted_p label {display:block;float:left;padding:2px 7px 0 0;}

#primary_block form#buy_block p#availability_statut {margin:14px 0 0 0;}
#primary_block form#buy_block p#availability_statut span#availability_value {font-weight:bold;}

#primary_block form#buy_block p#pQuantityAvailable {margin:14px 0 0 0;}
#primary_block form#buy_block p#pQuantityAvailable span {font-weight:bold;color:#7a5946;}
#primary_block form#buy_block p.online_only {margin:14px 0 0 0;color:#7a5946;}
#primary_block form#buy_block p#last_quantities {margin:14px 0 0 0;font-weight:bold;color:#b57442;}


/* tabs */
ul.idTabs {height:27px;padding:30px 0 0 0;clear:both;}
ul.idTabs li {float:left;}
ul.idTabs li a {width:190px;height:21px;display:block;padding:6px 0 0 0;font-size:12px;font-weight:bold;color:#777;text-align:center;text-decoration:none;cursor:pointer;}
ul.idTabs li a.selected {background:#f6f6f2;color:#7a5946;}


/* tabs short */
ul.idTabsShort li a {width:139px;}


/* tabs content blocks */
div.tabs_content {background:#f6f6f2;padding:14px 20px;zoom:1;}


/* quantity discount */
div#quantityDiscount {}

div#quantityDiscount th,
div#quantityDiscount td {height:auto;padding:5px;background:none;border:none;color:#7a5946;}

div#quantityDiscount td {border-top:2px solid #ccc;color:#777;}


/* tabs contents */
div#more_info_sheets {}


/* idTab1 (product description) */
div#idTab1 {padding:3px 0;}
div#idTab1 p {padding:0;}


/* idTab2 (data sheet) */
ul#idTab2 li {padding:3px 0 3px 10px;background:url(/images/bullet_alt.gif) 0 7px no-repeat;}
ul#idTab2 li span {font-weight:bold;}


/* idTab9 (attachments) */
ul#idTab9 li {padding:3px 0 3px 10px;background:url(/images/bullet_alt.gif) 0 7px no-repeat;}
ul#idTab9 li a {font-weight:bold;}


/* idTab4 (accessories) */
ul#idTab4 {padding:6px 0;}
ul#idTab4 li {height:80px;margin:20px 0 0 0;}
ul#idTab4 li:first-child {margin:0;}

ul#idTab4 li div.accessories_desc {width:355px;float:left;}
ul#idTab4 li div.accessories_desc a.accessory_image {width:80px;height:80px;display:block;float:left;margin:0 10px 0 0;}

ul#idTab4 li div.accessories_desc h5 {margin:0 0 7px 0;}

ul#idTab4 li div.accessories_price {width:130px;float:right;}
ul#idTab4 li div.accessories_price .exclusive {margin:0 0 0 -5px;}
ul#idTab4 li div.accessories_price span.price {display:block;margin:0 0 7px 0;}


/* idTab5 (product comments) */
div#idTab5 p {padding:3px 0;}

div#idTab5 p.align_center {text-align:center;}

div#idTab5 p.align_right {height:11px;padding:0;}
div#idTab5 p.align_right a {width:11px;height:0;padding:11px 0 0 0;overflow:hidden;display:block;float:right;background:url(/images/icon/delete.gif) 0 0 no-repeat;}

div#idTab5 fieldset {margin:0;padding:0 0 3px 0;}

div#idTab5 fieldset label {display:block;padding:3px 0 0 0;}

div#idTab5 fieldset input#customer_name,
div#idTab5 fieldset input#comment_title {width:206px;height:15px;padding:1px;margin:3px 0 0 0;}

div#idTab5 textarea#content {width:476px;height:100px;margin:3px 0 5px 0;}

div#idTab5 div.table_block {padding:0;}

div#idTab5 div.table_block th,
div#idTab5 div.table_block td {height:auto;padding:5px;background:none;border:none;color:#7a5946;}

div#idTab5 div.table_block td {border-top:2px solid #ccc;color:#777;}

div#idTab5 .button {margin:0 0 0 -5px;}


/* customizable products */
div.customization_block {}

div.customization_block p,
div.customizationUploadBrowseDescription {padding:3px 0;}

div.customization_block p img {margin:0 2px 0 0;}
div.customization_block h2 {padding:9px 0 5px 0;}

div.customization_block ul li div.customizationUploadBrowse {margin:0 0 7px 0;}
div.customization_block ul li div.customizationUploadBrowse img {margin:0 7px 0 0;}

textarea.customization_block_input {width:476px;height:50px;}

div.customization_block p#customizedDatas {margin:9px 0 15px 0;}

div.customization_block .button {margin:0 0 0 -5px;}


/* pack products list */
div#pack_product_list {padding:16px 0 0 0;}





/* ————— manufacturers-list.tpl && suppliers-list.tpl ————— */
.mnf_sup_list {padding:17px 0 0 0;}

.mnf_sup_list li {height:82px;clear:both;padding:0 0 20px 0;}
.mnf_sup_list li + li {padding:20px 0;border-top:2px solid #7a5946;}

.mnf_sup_list li div.left_side {width:395px;float:left;}
.mnf_sup_list li div.logo {float:left;margin:0 10px 0 0;}
.mnf_sup_list li div.logo img {border:1px solid #e8e4e1;}

.mnf_sup_list li h3 {padding:0;font-weight:bold;color:#777;}
.mnf_sup_list li h3 a {font-weight:bold;color:#7a5946;}

.mnf_sup_list li div.right_side {width:130px;height:82px;float:right;position:relative;}
.mnf_sup_list li div.right_side a.button {position:absolute;right:-5px;bottom:-5px;}





/* —————————————————————————————— info pages —————————————————————————————— */
/* ————— sitemap.tpl ————— */
div.sitemap_block {width:30%;float:left;padding:0 3% 0 0;}
div.sitemap_block ul {padding-top:5px;}
div.sitemap_block ul li {padding:4px 0 0 10px;background:url(/images/sitemap-bullet.gif) 0 10px no-repeat;}

div.categTree {clear:both;overflow:hidden;padding:3px 0 0 0;}
div.tree_top {height:14px;margin:7px 0 0 0;padding:3px 0 0 28px;background:url(/images/sitemap-top.gif) -1px -1px no-repeat;}
div.tree_top a {font-weight:bold;text-transform:uppercase;}

div#center_column ul.tree li {border-left:solid 1px #a1a1a1;background:url(/images/sitemap-horizontal.gif) 0 12px no-repeat;margin:0 0 0 11px;padding:5px 0 0 16px;}
div#center_column ul.tree li ul {padding:2px 0 4px 0;}
div#center_column ul.tree li ul li {margin:0;}
div#center_column ul.tree a {padding-left:0;}
div#center_column ul.tree a.selected {font-weight:bold;}
div#center_column ul.tree li.last {background:url(/images/sitemap-last.gif) 0 0 no-repeat;border:none;padding:5px 0 0 17px;}


/* ————— contact-form.tpl ————— */
p#desc_contact0,
p#desc_contact1,
p#desc_contact2 {height:15px;padding:11px 0 0 157px;}

body#contact-form div#center_column form p.file_input label {padding-top:3px;}
body#contact-form div#center_column form p.file_input input {height:21px;}
body#contact-form div#center_column form textarea#message {width:330px;}





/* —————————————————————————————— account pages —————————————————————————————— */
/* ————— authentication.tpl ————— */
/* login / create account */
body#authentication #create-account_form {width:48%;clear:none;float:left;margin:0 4% 0 0;}
body#authentication #login_form {width:47.9%;clear:none;float:left;}

body#authentication #create-account_form h4,
body#authentication #login_form h4 {height:31px;padding:19px 0 0 0;}

body#authentication #create-account_form p.text,
body#authentication #login_form p.text {width:220px;height:38px;padding:12px 0 0 0;}

body#authentication #create-account_form p.submit,
body#authentication #login_form p.submit {padding:15px 0 0 0;}

body#authentication #create-account_form label,
body#authentication #login_form label {display:block;clear:both;text-align:left;}

body#authentication #login_form p.lost_password {padding:12px 0 0 0;}

#new_account_form p.radio input {top:3px;}
#new_account_form p.radio label {padding:0 15px 0 3px;line-height:19px;display:inline-block;}

/* account creation form */
form#account-creation_form p.radio input {top:3px;}
form#account-creation_form p.radio label {padding:0 15px 0 3px;line-height:19px;display:inline-block;}

form#account-creation_form textarea {width:206px;}

form#account-creation_form span.form_info {line-height:19px;}


/* ————— password.tpl ————— */


/* ————— my-account.tpl ————— */
body#my-account div#center_column ul#my_account_links {padding:3px 0 0 0;}
body#my-account div#center_column ul#my_account_links li {padding:12px 0 0 0;}
body#my-account div#center_column ul#my_account_links li img {margin:0 5px 0 0;display:inline-block;}


/* ————— addresses.tpl ————— */
ul.address {float:left;}

ul.item {width:48%;margin:17px 4% 0 0;}
ul.alternate_item {width:47.9%;margin:17px 0 0 0;}

ul.address li {margin:5px 0 0 0;padding:0 0 0 8px;}
ul.address li.address_title {height:20px;padding:5px 0 0 8px;background:#f6f6f2;font-weight:bold;color:#7a5946;}
ul.address li span.address_name {padding:8px 0 0 0;font-weight:bold;color:#b57442;}

ul.address li.address_update,
ul.address li.address_delete {}

body#addresses div.address_add {clear:both;padding:20px 0 0 0;}


/* ————— address.tpl ————— */
body#address div#center_column form.std p.textarea textarea {width:206px;}
body#address div#center_column form.std p.submit .button {margin:20px 0 0 -5px;}


/* ————— identity.tpl ————— */
form.identity p.radio input {top:3px;}
form.identity p.radio label {padding:0 15px 0 3px;line-height:19px;display:inline-block;}

form.identity p.required_desc {padding:20px 0 0 157px;}

p#security_informations {padding:20px 0 0 157px;font-size:11px;}





/* —————————————————————————————— order pages —————————————————————————————— */
/* ————— order-steps.tpl ————— */
ul#order_step {width:435px;height:27px;margin:20px auto 15px auto;padding:0 0 0 40px;background:url(/images/step_start.png) 0 bottom no-repeat;}
ul#order_step li {width:90px;height:27px;float:left;background:url(/images/step_standard.png) 50% bottom no-repeat;text-align:center;}
ul#order_step li.step_current {background:url(/images/step_current.png) 50% bottom no-repeat;font-weight:bold;color:#7a5946;}
ul#order_step li.step_todo {color:#777;}
ul#order_step li#step_end {width:70px;}
ul#order_step li#step_end {background:url(/images/step_end.png) left bottom no-repeat;}
ul#order_step li#step_end.step_current {background:transparent url(/images/step_end_current.png) left bottom no-repeat;}


/* ————— Order step 1: summary (shopping-cart.tpl) ————— */
table.cart_last_product {width:350px;margin:15px auto 0 auto;}
table.cart_last_product tr th {background:#000;color:#fff;}
table.cart_last_product tr td {border:none !important;padding-right:0;}
table.cart_last_product tr td.cart_product {width:45px;}

body#order table.std td:first-child a img {}
body#order table.std h5 a {}
body#order table.std h5 a:hover {}

table#cart_summary {}
table#cart_summary tr td.cart_product {width:45px;}

table#cart_summary tr td.cart_quantity {text-align:center;width:46px;}
table#cart_summary tr td.cart_quantity div#cart_quantity_button {width:30px;float:left;}
table#cart_summary tr td.cart_quantity div#cart_quantity_button input.text {width:26px;margin:3px 0;text-align:center;}
table#cart_summary tr td.cart_quantity a {height:9px;display:block;text-align:center;}
table#cart_summary tr td.cart_quantity a.cart_quantity_delete {width:11px;height:11px;display:block;float:left;margin:15px 0 0 5px;}

table#cart_summary tr td ul.customizationUploaded li img {margin:0 10px 0 0;border:1px solid #eee;}
table#cart_summary tr td ul.typedText li {padding:7px 0 0 0;}

table#cart_summary tr td.cart_discount_delete {text-align:center;}

table#cart_summary tr th.cart_total,
table#cart_summary tr td.cart_total,
table#cart_summary tr td.cart_discount_price {text-align:right;}

/* voucher form */
form#voucher fieldset {border:2px solid #7a5946;padding:10px;}
form#voucher fieldset h2 {float:left;padding:12px 20px 0 0;}
form#voucher fieldset p {float:left;padding:10px 20px 0 0;}
form#voucher fieldset p.submit {padding:0;}
form#voucher fieldset p.text label {float:left;text-align:right;padding:2px 7px 0 0;}
form#voucher fieldset p.text input {width:166px;}

form#voucher fieldset div#display_cart_vouchers h4 {margin:10px 0 0 0;padding:10px 0 0 0;border-top:1px solid #7a5946;}
form#voucher fieldset div#display_cart_vouchers div {padding:4px 0 0 0;}
form#voucher fieldset div#display_cart_vouchers span.voucher_name {font-weight:bold;text-decoration:underline;cursor:pointer;}
form#voucher fieldset div#display_cart_vouchers span.voucher_name:hover {text-decoration:none;}

/* order carrier */
div#order_carrier {border:2px solid #7a5946;margin:17px 0 0 0;padding:10px;}
div#order_carrier h4 {float:left;padding:0 10px 0 0;}

/* cart navigation */
p.cart_navigation {height:27px;clear:both;padding:17px 0 0 0;}

p.cart_navigation .button,
p.cart_navigation .button_large {float:left;margin-left:-5px;}

p.cart_navigation .exclusive,
p.cart_navigation .exclusive_large {float:right;margin-right:-5px;}

/* ————— carriercompare.tpl ————— */
#availableCarriers {padding:12px 0 0 0;}
#compare_shipping_form h3 {margin:0 0 8px 0;}
#compare_shipping_form #noCarrier {margin:12px 0 0;padding:10px 13px;text-align:center;}
#availableCarriers_table {width:100% !important;}

#carriercompare_errors_list li {margin:0 !important;padding:3px 0 0 0;}


/* ————— Order step 2: log in (authentication.tpl) ————— */


/* ————— Order step 3: addresses (order-address.tpl) ————— */
div.order_address {}
div.order_address p.select label {float:left;text-align:right;padding:2px 7px 0 0;}
div.order_address p#address_invoice_form a.button_large {margin:0 auto;}
div.order_address p.address_add {padding:17px 0 0 0;}
div.order_address p.address_add a {margin-left:-5px;}
div.order_address div#ordermsg textarea {width:696px;height:100px;}


/* ————— Order step 4: shipping (order-carrier.tpl) ————— */
table#carrierTable {margin:17px 0 0 0;border-collapse:separate;}
table#carrierTable tr td {border-bottom:2px solid #7a5946 !important;}
table#carrierTable tr td.radio input {background:none;border:none;position:relative;top:1px;left:0;}

p#gift_div {display:none;clear:both;}
p#gift_div label {display:block;}
p#gift_div textarea {width:696px;height:100px;margin:12px 0 0 0;}


/* ————— Order step 5: payment (order-payment.tpl) ————— */
p.payment_module {display:block;margin:0 !important;padding:17px 0 0 0 !important;border:none !important;}
.payment_module img {vertical-align:middle;margin:0 10px 0 0;}
.payment_module a {display:block;background:#fafafa;border:2px solid #ddd;padding:7px;color:#777;text-decoration:none;}

.payment_module a:hover,
.payment_module a:focus,
.payment_module a:active {background:#fff;border:2px solid #7a5946;color:#000;}


/* ————— history.tpl ————— */
.color-myaccount,
a.color-myaccount {color:#b57442;}

div#block-history {margin:17px 0 0 0;}
div#block-history textarea {width:696px;height:100px;}

table#order-list td.history_link a {font-weight:bold;}
table#order-list td.history_detail a.details_link {text-transform:capitalize;}

#block-history #block-order-detail table.std td.inputs input.order_qte_input {height:15px;padding:1px;float:left;}
#block-history #block-order-detail table.std td.inputs label {display:block;float:left;padding:2px 0 0 7px;font-weight:bold;}

#block-history h3 {padding:17px 0 0 0;}
#block-history #block-order-detail {padding:0 0 12px 0;border-top:2px solid #b57442;border-bottom:2px solid #b57442;}

div#order-detail-content table.std th.last_item,
div#order-detail-content table.std td.last_item {text-align:right;}

form#sendOrderMessage {padding:3px 0 0 0;}
form#sendOrderMessage p.submit {padding:12px 0 0 0;}


/* ————— order-slip.tpl ————— */


/* ————— discount.tpl ————— */
table.discount {margin:17px 0 0 0;}
table.discount td.discount_code {font-weight:bold;}
table.discount td.discount_value {white-space:nowrap;}

body#discount div.center_column sup {vertical-align:top;font:normal 13px "Tahoma";color:#da0f00;}





/* ————— One Page Checkout ————— */
/* ————— order-opc.tpl ————— */
div#order-opc h2 {padding:30px 0 0 0;}

div#order-opc table#carrierTable {margin:17px 0 0 0;}

div#order-opc textarea#message {width:696px;height:100px;}


/* ————— order-opc-new-account.tpl ————— */

/* account choice */
div#opc_account_choice div.opc_float {padding:17px 0 0 0;}
div#opc_account_choice div.opc_float input {float:left;margin:0 7px 0 0;}

div#login_form_content input.text {width:206px;}

/* already registered */
div#login_form_content p.submit {}
div#login_form_content #login_passwd {margin:12px 0 0 157px;}

/* new customer */
div#opc_account_form textarea#other,
div#opc_account_form #other_invoice {width:206px;}

div#opc_account_form p.required_desc {padding-top:20px;}

p#opc_account_saved {display:none;font-weight:bold;color:#3eab4c;}


/* ————— guest-tracking.tpl ————— */
form.guest p.text i {padding:0 0 0 5px;line-height:19px;}






/* ————— 404.tpl ————— */
p.error404 {border:2px solid #dd0000;background:#f5f5f5;margin:12px 0 0 0;padding:10px;line-height:32px;}
p.error404 img {margin:0 10px 0 0;}


/* conditions & legal */
ul.shop_info {list-style-type:square!important;list-style-position:inside;padding:0.6em;margin-top:0.6em;margin-left:2em;border:1px solid #888;}
ul.shop_info li {padding-left:0.5em!important;padding-bottom:0.5em!important;}

/* module reversoform */
.account_creation #reverso-form {width:100%;}
.account_creation #reverso-form label {width:250px;text-align:left;margin-left:10px;}
.account_creation #reverso-form label#legend_reverso {clear:both;width:100%;font-size:10px;text-align:left;}
.account_creation #reverso-form input#reverso_form {margin-top:20px;}

/* module paypalapi */
.paypalapi_about {text-align:justify;}
.paypalapi_about ul {padding-left:20px;}





/* —————————————————————————————— footer styles —————————————————————————————— */
#footer {height:264px;clear:both;background:url(/images/block_border.png) 0 0 repeat-x;}


/* ————— tmfooterlinks.tpl ————— */
#tmfooterlinks {}
#tmfooterlinks div {width:220px;float:left;padding:0 20px 39px 0;}

#tmfooterlinks ul {padding:27px 0 0 0;}
#tmfooterlinks ul li {padding:12px 0 0 26px;background:url(/images/bullet_footer.png) -1px 16px no-repeat;}
#tmfooterlinks ul li a {color:#7a5946;}

#tmfooterlinks p {padding:11px 0 0 0;background:url(/images/block_border.png) 0 0 repeat-x;clear:both;color:#512623;zoom:1;}
#tmfooterlinks p a {color:#512623;}

#tmfooterlinks a {text-decoration:none;}
#tmfooterlinks a:hover {text-decoration:underline;}





/* —————————————————————————————— printable version —————————————————————————————— */
@media print {

* {background:none!important;background-color:white!important;}

div#left_column, div#right_column, div#footer, a.button, span.button , .button, ul#usefull_link_block, div#header_user, #languages_block_top,
#search_block_top, #currencies_block_top, ul#header_links, ul.idTabs, #availability_statut br {display:none;}

div#center_column {width:100%;}
input.text {border:1px solid gray;}
.block_hidden_only_for_screen {display: block;margin-top:1em;}
#more_info_sheets #idTab1 {width:530px;}

}




.alert_notice, .alert_error, .alert_alert {
  padding: 10px 8px;
  margin: 10px 0 0 0;
}

.alert_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.alert_error, .flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}




#primary_block #short_description_content p {
  margin-bottom:20px !important;
}



.institucionais h1, .institucionais h2, .institucionais h3, .institucionais h4, .institucionais h5, .institucionais h6{
	font-family: 'Actor', sans-serif;
	font-weight: normal;
}

.institucionais h1{
	font-size:23px
}

.institucionais h2{
	font-size:21px
}

.institucionais h3{
	font-size:19px
}

.institucionais h4{
	font-size:17px
}
