#list-albums{
/*	height:340px;*/
/*	margin-bottom:10px;*/
	width:750px;
}

	#list-albums .first{
		margin-left:0 !important;
	}
	
	#list-albums .albums-box{
		margin-left:8px;
		margin-bottom:10px;
		float:left;
		width:370px;
	}
	#list-albums h3{
		padding:5px 0;
		padding-bottom:10px;
	}
	
	#list-albums a{
		color:#000;
	}