#list-collyriums{
/*	height:340px;*/
/*	margin-bottom:10px;*/
}

	#list-collyriums .first{
		margin-left:0 !important;
	}
	
	#list-collyriums .collyrium-box{
		margin-left:18px;
		margin-bottom:10px;
		float:left;
		width:238px;
	}
	#list-collyriums h3{
		padding:5px 0;
		padding-bottom:10px;
	}
	
	#list-collyriums a{
		color:#000;
	}