<%= simple_form_for([:admin, @admin_produto], :html => {:multipart => true}) do |f| %>
<div class="module_content">
  <fieldset>
    <%= f.association :categoria %>
  </fieldset>
  <fieldset>
    <%= f.input :nome %>
  </fieldset>
  <fieldset>
    <%= f.input :codigo_interno %>
  </fieldset>
  <fieldset>
    <%= f.label :descricao %>
  </fieldset>
  <%= f.text_area :descricao, :rows => 15, :cols => '100%', :class => 'mceEditor' %>
  <fieldset>
    <%= f.input :video %>
  </fieldset>
  <fieldset>
    <%= f.input :capa %>
  </fieldset>
  <% unless @admin_produto.new_record? -%>
    <%= image_tag @admin_produto.capa.url(:thumb) %>
  <% end -%>
  <fieldset>
    <%= f.input :valor, :input_html => {:type => :text, :value => f.object.valor.to_f.real_contabil} %>
  </fieldset>
  <fieldset>
    <%= f.input :valor_promocional, :input_html => {:type => :text, :value => f.object.valor_promocional.to_f.real_contabil} %>
  </fieldset>
  <fieldset>
    <%= f.input :peso, :input_html => {:type => :text, :value => f.object.peso.to_f} %>
  </fieldset>
  <fieldset>
    <%= f.input :ativo %>
  </fieldset>
  <fieldset>
    <%= f.input :destaque_inicial %>
  </fieldset>
  
  <h2>Imagens</h2>
  <% @admin_produto.imagem_produtos.count.upto(@admin_produto.imagem_produtos.count+2) do %>
    <% @imagem_produto = ImagemProduto.new %>
    <%=f.fields_for :imagem_produtos, @imagem_produto, :child_index => @imagem_produto.object_id do |fi| %>
    <fieldset>
      <%=fi.input :arquivo %>
    </fieldset>
    <% end -%>
  <% end -%>
  
    <% unless @admin_produto.new_record? %>
    <% @admin_produto.imagem_produtos.each do |imagem_produto| %>
    <div style="float: left; text-align: center;padding:5px; margin:4px; border:1px solid #ccc">
      <%=image_tag imagem_produto.arquivo.url(:thumb)%><br />
      <%=link_to 'Remover', admin_produto_imagem_produto_path(@admin_produto,imagem_produto), :method => :delete, :confirm => 'Deseja remover?' %>
    </div>
    <% end -%>
    <% end %>
    <div style="clear: both"></div>
  
</div>
<footer>
  <div class="submit_link">
    <%= f.button :submit, :value => 'Salvar', :class => 'alt_btn' %>
  </div>
</footer>
<% end %>
