<%
title 'Produtos - Novo Produto'
breadcrumbs([
  {:text => 'Produtos', :url => admin_produtos_path},
  {:text => 'Novo produto'},
])
%>
<article class="module width_full">
  <header><h3>Novo produto</h3></header>
  <%= render 'form' %>
</article>
