<h1>Galeria: <%= @galeria.nome %></h1>
<br /><br />
<%= @galeria.conteudo.html_safe %>
<% if !@galeria.imagem_galerias.blank? %>
<br /><br />
<div id="featured-products_block_center">
  <div class="block_content">
    <ul>
<% @galeria.imagem_galerias.each do |imagem_galeria| %>
      <li class="ajax_block_product" style="background-color:#fff;height:250px;margin-bottom:20px">
        <a class="product_image thickbox" href="<%=imagem_galeria.img_galeria.url(:large)%>" style="height:auto;background:none">
          <%=image_tag imagem_galeria.img_galeria.url(:medium) %>
        </a>
    </li>
<% end -%>
    </ul>
  </div>
</div>
<% end -%>

<% content_for :head do %>
<%= javascript_include_tag 'thickbox' %>
<%= stylesheet_link_tag 'thickbox' %>
<% end -%>