<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb_inner">
    <%= link_to 'Início', root_path %><span class="navigation-pipe">&gt;</span><span class="navigation_end"><%= @produto.nome %></span>
  </div>
</div>
<!-- /Breadcrumb -->
<div id="primary_block" class="clearfix">
  <h1><%= @produto.nome %></h1>
  <!-- right infos-->
  <div id="pb-right-column">
    <!-- product img-->
    <div id="image-block">
      <%= image_tag @produto.capa.url(:large) %>
    </div>
    <!-- thumbnails -->
    <div id="views_block" >
      <div id="thumbs_list">
        <ul id="thumbs_list">
          <% @produto.imagem_produtos.each do |imagem_produto| %>
          <li>
            <%=link_to image_tag(imagem_produto.arquivo.url(:thumb)), imagem_produto.arquivo.url(:large), :class => 'thickbox', :title => @produto.nome %>
          </li>
          <% end -%>
        </ul>
      </div>
    </div>
    <span id="wrapResetImages" style="display:none;">
      <div>
        <a id="resetImages" href="http://livedemo00.template-help.com/prestashop_36159/product.php?id_product=2" onclick="$('span#wrapResetImages').hide('slow');return (false);">Display all pictures</a>
      </div></span><!-- usefull links-->
    <ul id="usefull_link_block">
      <li>
        <a href="javascript:print();">Imprimir</a>
      </li>
    </ul>
  </div>
  <!-- left infos-->
  <div id="pb-left-column">
    <div id="short_description_block">
      <div id="short_description_content" class="rte align_justify">
        <%= @produto.descricao.html_safe %>
      </div>
    </div>
    <!-- add to cart form-->
    <form id="buy_block"  action="http://livedemo00.template-help.com/prestashop_36159/cart.php" method="post">
      <!-- hidden datas -->
      <p class="hidden">
        <input type="hidden" name="token" value="36f564df6bcf6ad407932f511d70e259" />
        <input type="hidden" name="id_product" value="2" id="product_page_product_id" />
        <input type="hidden" name="add" value="1" />
        <input type="hidden" name="id_product_attribute" id="idCombination" value="" />
      </p>
      <!-- prices -->
      <p class="price">
        <span class="our_price_display"> <span id="our_price_display" class="price"><%= @produto.valor_ou_promocao.real_contabil %></span></span>
      </p>

      <p id="add_to_cart" class="buttons_bottom_block">
        <a class="exclusive" href="<%= adicionar_carrinho_path(@produto)%>">Adicionar ao carrinho</a>
      </p>
      <div class="clearblock"></div>
    </form>
  </div>

  <div style="float:left;margin-left:20px;text-align:center;margin-top:20px;"><%= link_to image_tag('minas-coffe-pequeno.jpg'), 'http://www.minascoffee-export.com.br/', :target => '_blank' %></div>
</div>

<% content_for :head do %>
<%= javascript_include_tag 'thickbox' %>
<%= stylesheet_link_tag 'thickbox' %>
<% end -%>
