<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb_inner">
    <%= link_to 'Início', root_path %><span class="navigation-pipe">&gt;</span><span class="navigation_end">Produtos</span>
  </div>
</div>
<!-- /Breadcrumb -->

<h1 style="margin-bottom:30px">
  Produtos
  <% if params[:q] %>
   - resultados de busca por '<%=params[:q]%>'
  <% end -%>
</h1>


<div id="featured-products_block_center">
    <div class="block_content">
    <ul>
      <% @produtos.each do |produto| %>
      <li class="ajax_block_product">
        <a class="product_image" href="<%= produto_path(produto)%>" title="<%= produto.nome %>">
          <span class="price"><%= produto.valor_ou_promocao.real_contabil %></span>
          <%= image_tag produto.capa.url(:medium) %>
        </a>
        <div>
          <h5><a class="product_link" href="<%= produto_path(produto)%>" title="<%= produto.nome %>"><%= produto.nome %></a></h5>
          <a class="exclusive ajax_add_to_cart_button" rel="ajax_id_product_<%= produto.id %>" href="<%= adicionar_carrinho_path(produto) %>" title="Comprar!">Comprar!</a>

          </div>
      </li>
      <% end -%>
    </ul>
  </div>
</div>