<%
title 'Lista de páginas'
breadcrumbs([
  {:text => 'Lista de páginas'}
])
%>

<article class="module width_full">
  <header>
    <h3>Lista de páginas </h3>    
  </header>
  

  <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
        <!-- <th class="header"></th>  -->
        <th class="header">Título</th> 
        <th class="header">Ações</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @admin_paginas.each do |admin_pagina| %>
      <tr> 
        <!-- <td><input type="checkbox"></td>  -->
        <td><%= admin_pagina.titulo %></td> 
        <td><%= action_edit(url_for(:action => :edit, :id => admin_pagina)) %></td> 
      </tr> 
      <% end %>

    </tbody> 
  </table>
  
</article>
