<%
title 'categorias - Alterando categoria'
breadcrumbs([
  {:text => 'categorias', :url => admin_categorias_path},
  {:text => 'Alterando categoria'},
])
%>
<article class="module width_full">
  <header><h3>Alterando categoria</h3></header>
  <%= render 'form' %>
</article>
