<h1>Listing admin_imagem_galerias</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_imagem_galerias.each do |admin_imagem_galeria| %>
  <tr>
    <td><%= link_to 'Show', admin_imagem_galeria %></td>
    <td><%= link_to 'Edit', edit_admin_imagem_galeria_path(admin_imagem_galeria) %></td>
    <td><%= link_to 'Destroy', admin_imagem_galeria, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imagem galeria', new_admin_imagem_galeria_path %>
